<div class="home-body">
    <h1>BUILD BLOGS!</h1>
    <h2>
      create a unique and beautiful blog.
      <br>
      <br> find something new
      <br> 
      <br> <%= link_to('Start Now', "/blogs/new", :class => "btn btn-primary")  %>
      <br> <%= link_to('Explore', "/blogs", :class => "btn btn-primary")  %>
    </h2 >


</div>
