<div class="edit-post">
    <h1>Edit Post</h1>

    <div class="edit-post-form">
        <%= form_for :post, url: "/blogs/#{params[:blog_id]}/posts/#{@post.id}", method: :put do |f| %>
        <div class="row">
            <%= f.text_field :title, placeholder: "Title", class: "post-title" %>
        </div>
        <div class="row">
            <%= f.text_area :body, placeholder: "Your text here" %>
        </div>
        <div class="row">
            <%= f.submit "Submit", class: "submit-button" %>
        </div>
        <% end %>
    </div>
</div>
