// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans');
$font-fam: 'Josefin Sans', sans-serif;

.blog {
    padding-left: 20px;
}

.new-blog {
    h1 {
        text-align: center;
        font-weight: bolder;
        margin-top: 50px;
    }

    .new-blog-form {
        text-align: center;

        .blog-title {
            margin: 10px;
            width: 50%;
        }

        textarea {
            margin: 10px;
            width: 50%;
            height: 100px;
        }

        .submit-button {
            background-color: #225555;
            color: #ffffff;
            width: 60px;
            height: 30px;
            font-family: $font-fam;
            font-size: 14px;
            text-align: center;
        }
    }
}

.edit-blog {
    h1 {
        text-align: center;
        font-weight: bolder;
        margin-top: 50px;
    }

    .edit-blog-form {
        text-align: center;

        .blog-title {
            margin: 10px;
            width: 50%;
        }

        textarea {
            margin: 10px;
            width: 50%;
            height: 100px;
        }

        .submit-button {
            background-color: #225555;
            color: #ffffff;
            width: 60px;
            height: 30px;
            font-family: $font-fam;
            font-size: 14px;
            text-align: center;
        }
    }
}

.browse-blog {
    h1 {
        text-align: center;
        font-weight: bolder;
    }

    #blog-card {
        // background-color: #f5f5dc;
        // border-style: solid;
        // border-width: 0.5px;
        // border-color: #d3d3d3;
        margin: 10px;

        .blog-title {
            background-color: #225555;
            padding: 10px;

            h2 {
                text-align: center;
                color: #000035;
                color: #f5f5dc;
            }
        }

        .blog-description {
            background-color: #f5f5dc;
            padding: 20px;
            h3 {
                font-size: 16px;
                text-align: center;
                color: #000035;
            }
        }

        .visit-edit-btn {
          padding-top: 10px;
            padding-left: 20px;

            .btn {
                background-color: #225555;
                color: #ffffff;
                font-family: $font-fam;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}
