// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans');
$font-fam: 'Josefin Sans', sans-serif;

.post {
    margin: 20px auto 20px auto;
    width: 75%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #d3d3d3;
    background-color: #225555;
    color: #f5f5dc;

    .post-title {
        text-align: center;
        font-family: $font-fam;
        font-size: 20px;
        padding: 10px;
    }

    .post-content {
        padding: 10px 50px 50px 50px;
        font-family: $font-fam;
        font-size: 18px;
    }
}

.new-comment {
    background-color: #f5f5dc;
    // border-style: solid;
    // border-width: 0.5px;
    // border-color: #d3d3d3;
    width: 75%;
    padding: 10px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;

    textarea {
        // does 75% of .new-comment
        width: 93.5%;
        // margin-left: 2px;
        // margin-right: auto;
        font-family: $font-fam;
    }

    .row {
        margin-left: 20px;
    }

    .submit-button {
        background-color: #225555;
        color: #ffffff;
        width: 50px;
        height: 30px;
        font-family: $font-fam;
        font-size: 12px;
        text-align: center;
    }
}

.comment-card {
    width: 75%;
    margin: auto;
    // border-style: solid;
    // border-width: 0.5px;
    // border-color: #d3d3d3;
    background-color: #f5f5dc;
    padding: 20px;
    font-family: $font-fam;

    .comment, .author {
      margin-left: 20px;
    }

    .author {
      font-weight: bold;
    }
    .btn {
        background-color: #225555;
        color: #ffffff;
        width: 50px;
        height: 30px;
        font-size: 12px;
        // text-align: center;
        margin-left: 30px;
        font-family: $font-fam;

        #dlt-btn {
          text-align: center;
        }
    }
}
.modal-content {
  background-color: #225555;
}
.modal-title {
    text-align: center;
    font-family: $font-fam;
    background-color: #225555;
    color: #f5f5dc;
}

button.close {
  color: #f5f5dc;
}

.modal-body {
  background-color: #f5f5dc;

    textarea {
        width: 100%;
        font-family: $font-fam;
        height:100px;
    }

    .submit-button {
      background-color: #225555;
      color: #ffffff;
      width: 50px;
      height: 30px;
      font-family: $font-fam;
      font-size: 12px;
      text-align: center;
    }
}
