@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans');
$josefin: 'Josefin Sans', sans-serif;

.navHeaderCollapse {
    background-color: #000035;
    width: 100%;

    .brand,
    .nav .nav-tabs {
        color: #BBEEEE;
    }
}

.nav-link:hover {
    border-top: 4px solid #CC2B2B;
}

.brand {
    color: black;
    font-weight: bold;
}

.header .btn {
    margin-top: 10px;
    margin-left: 5px;
}

body {
    font-family: $josefin;
    color: #000035;
}
