@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans');
$font-fam: 'Josefin Sans', sans-serif;

body {
    // background-color: #000035;
    background: url("./background3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn, .btn:hover, .btn:active {
    background-color: #225555;
    color: #f5f5dc;
    font-family: $font-fam;
    font-size: 14px;
    text-align: center;
}

.navHeaderCollapse {
    background-color: #000035;
    width: 100%;

    .brand,
    .nav .nav-tabs {
        color: #BBEEEE;
        border-color: #000035;
    }
}

.nav-link:hover {
    border-top: 4px solid #CC2B2B;
}

.navbar-brand {
    a {
        color: #BBEEEE;
        font-weight: bolder;
    }
}

.header .btn {
    margin-top: 10px;
    margin-left: 5px;
}

body {
    font-family: $font-fam;
    color: #000035;
}

.navbar {
    width: 100%;
    background-color: #000035;
    color: #BBEEEE;
}
