// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url( 'https://fonts.googleapis.com/css?family=Josefin+Sans');
$font-fam: 'Josefin Sans', sans-serif;

.signup {
  background-color: #f5f5dc;
  opacity: 0.9;
  border-style: solid;
  border-width: 1px;
  border-color: #000035;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  h1 {
      text-align: center;
      font-weight: bolder;
      margin-top: 50px;
  }

  .new-user {
      text-align: center;

      input, button, select, textarea {
        margin: 10px;
        width: 30%;
      }

      .submit-button {
          background-color: #225555;
          color: #f5f5dc;
          width: 60px;
          height: 30px;
          font-family: $font-fam;
          font-size: 14px;
          text-align: center;
          margin-top: 30px; 
          margin-bottom: 30px;
      }
  }

}
